@model CoreMultiTenancy.Identity.ViewModels.Account.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Register";
}
<div class="row register-panel">
    <div class="col-md-12 login-logo">
        <img src="~/img/samplelogo.svg"
            width="120" height="35" class="d-inline-block align-top">
    </div>
    <div class="col-md-12 login-title">
        Create an account
    </div>
    <div class="col-md-12">
        <form asp-controller="account" asp-action="register" method="post" autocomplete="off">
            <div class="form-group row mb-1">
                <label asp-for="FirstName">@Html.DisplayNameFor(m => m.FirstName)</label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="LastName">@Html.DisplayNameFor(m => m.LastName)</label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Email">@Html.DisplayNameFor(m => m.Email)</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Password">@Html.DisplayNameFor(m => m.Password)</label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="ConfirmPassword">@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group row mt-4">
                <input type="submit" value="Create an account" class="btn btn-secondary btn-login" />
            </div>
        </form>
        <hr />
        <div class="col-md-12 mb-1 text-center">
            Already have an account? <a asp-controller="account" asp-action="login">Sign in.</a>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}